# .github/workflows/terraform.yml

name: 'Terraform CI/CD'

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        
        
      - name: Terraform Init
        id: init
        env:
          # Pass the secrets as environment variables to the init command
          # The ARM_ backend provider will automatically use them.
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        run: |
          terraform init -backend-config="resource_group_name=${{ vars.BACKEND_RESOURCE_GROUP_NAME }}"  -backend-config="storage_account_name=${{ vars.BACKEND_STORAGE_ACCOUNT_NAME }}" -backend-config="container_name=${{ vars.BACKEND_CONTAINER_NAME }}" -backend-config="key=loadbalancer.prod.tfstate"
    
      - name: Terraform Plan
        id: plan
        if: github.event_name == 'pull_request'
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_admin_username: ${{ secrets.VM_ADMIN_USERNAME }}
          TF_VAR_admin_password: ${{ secrets.VM_ADMIN_PASSWORD }}
        continue-on-error: false
        run: terraform plan -no-color -out=tfplan


      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_client_id:       ${{ secrets.AZURE_CLIENT_ID }}
          TF_VAR_tenant_id:       ${{ secrets.AZURE_TENANT_ID }}
        run: terraform apply -auto-approve